<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
<div>
    <p>Welcome to Webhooks Buddy</p>
    <h4>Useful commands</h4>
    <ul>
        <li>@webhook git authorize  #for authorizing the app to use your account</li>
        <li>@webhook git repo list  #to list your repositories </li>
        <li>@webhook git createhook reponame   #create hook for specific repository</li>
        <li>@webhook git deletehook reponame inthisthread  #delete hook for specific repository</li>
        <li>@webhook git deletehook reponame allthreads  #delete hook for specific repository</li>
        <li>@webhook git getallhooks forthischat  #delete hook for specific repository</li>
        <li>@webhook git getallhooks mine  #delete hook for specific repository</li>
        <li>@webhook help  #to get above commands anytime.</li>
    </ul>
</div>

</body>
</html>